{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="col-md-6">
        Correct
    </div>
    <div class="col-md-6">
        <a href="{{ path('app_word') }}">Go next</a>
    </div>
{% endblock %}