{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-2 text-center">
            <h1>{{ 'correct'|trans }}</h1>
        </div>
        <div class="col-md-10 offset-2 text-center">
            <a class="btn btn-success" href="{{ path('app_word') }}">{{ 'go_next'|trans }}</a>
        </div>
    </div>
{% endblock %}